/* Commented */
html,body{
    height: 100%;
    width: 100%;
    background: url(../img/bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

.landing{
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    color: white;
    h1,h2{
        text-align: center;
    }
}

.intro{
margin-top: 100px;}

//ALL THE HEX CODE IS BELOW

.hexContainer{
.center-block();
}

.hexagon {
  position: relative;
  width: 300px; 
  height: 173.21px;
  margin: 200px 0;
  background-image: url(../img/ss.png);
  background-size: auto 334.8632px;
  background-position: center;
  border-left: solid 5px @gray-light;
  border-right: solid 5px @gray-light;
    .center-block();
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 212.13px;
  height: 212.13px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 38.93px;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 290.0000px;
  height: 167.4315780649915px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-83.7158px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-83.7158px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-83.7158px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -106.0660px;
  border-top: solid 7.0711px @gray-light;
  border-right: solid 7.0711px @gray-light;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -106.0660px;
  border-bottom: solid 7.0711px @gray;
  border-left: solid 7.0711px @gray;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 2.8868px;
  left: 0;
  width: 290.0000px;
  height: 167.4316px;
  z-index: 2;
  background: inherit;
}